//- .modals 
#modal-1.modal
	.modal-window
		.modal-content
			.modal-head
				h2 Modal 1
				button.btn.btn-light.btn-modal-close(type="button") Close
			.modal-body
				p Modal content
				p Modal content
				p Modal content 
			.modal-footer
				button.btn.btn-light.btn-modal-close(type="button") Close
				button.btn.btn-dark.btn-modal-close(type="button") Action
#modal-2.modal
	.modal-window
		.modal-content
			.modal-head
				h2 Modal 2
				button.btn.btn-light.btn-modal-close(type="button") Close
			.modal-body
				p Modal content
				p Modal content
				p Modal content 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sunt sapiente fuga. Commodi illum corporis, ex reiciendis ullam, vel tempora doloremque eligendi ducimus modi, corrupti delectus qui error necessitatibus minus quod animi non doloribus saepe praesentium. Voluptatibus, vitae quasi fugit dolorum rem, laborum nemo fugiat culpa architecto ex ut ratione dolor quisquam consequuntur? Ab accusantium quas, incidunt eos accusamus officiis ipsa natus voluptatibus provident tenetur dolore iure velit optio rem totam quo magnam consequuntur odit repellat asperiores recusandae dolor! Quod sit quo modi eius accusantium distinctio aut pariatur dolorum neque, impedit delectus soluta iure recusandae aliquam dignissimos atque numquam quas!
			.modal-footer
				button.btn.btn-light.btn-modal-close(type="button") Close
				button.btn.btn-dark.btn-modal-close(type="button") Action